*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/** google translate **/

.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;}

.goog-logo-link {
   display:none;
} 

.goog-te-gadget{
   color: transparent !important;
}

.goog-te-combo {
    padding: 0.2rem;
    font-size: 1.2rem;
    height: 40px;
}

#google_translate_element{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
}


.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99999999999;
}

.logo{
    width: 48px;
    height: 48px;
}

.loading-bar{
    width: 130px;
    height: 2px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
}

.loading-bar::before{
    content: "";
    width: 68px;
    height: 2px;
    background: #0073b1;
    position: absolute;
    left: -34px;
    animation:  bluebar 1.5s infinite ease;
}

@keyframes bluebar {
    50%{
        left: 96px;
    }
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.button-to-top{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    font-size: 2.5rem;
    bottom: 1rem;
    right: 2rem;
    color: black;
    background: white;
    clip-path: circle();
    border-radius: 50%;
    z-index: 999999;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(40%);

}

.button-to-top.show-button{
    opacity: 1;
    visibility: visible;
    transform: translateY(10%);
}


#menu-bar{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 4rem;
    right: 3rem;
    padding: 0.50rem;
    background: white;
    z-index: 999;
    border-radius: 7px;
    transition: 0.3s;
    transform: translateY(40%);
    
}

#menu-bar img {
    width: 2rem;
    cursor: pointer;
}

#menu-bar.scroll{
    opacity: 1;
    visibility: visible;
    transform: translateY(10%);
}


#menu-bar:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}

#menu-bar i{
    cursor: pointer;
    color: white;
    font-size: 2rem;
}

section {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 101%;
    height: 113vh;
}


a {
    color: black;
}

a:hover{
    color: rgba(0, 0, 0, 0.774);
    border-radius: 7px;
}


nav {
    width: 100%;
    height: 5rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 2px;
}




nav > img {
    object-fit: contain;
    width: 3rem;
}



nav ul {
    align-items: center;
    display:flex;
}

nav ul li{
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    gap: 2rem;
    color: black;
    padding: 1rem;
    list-style: none;   
}

.nav.toggle {
    position: fixed;
    top: 0;
    right: -8rem;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    background: white;
    border-radius: 8px 0px 0px 8px;
    z-index: 99;
    transform: translateX(-20%);
    transition: transform .25s ease;
}


.nav.toggle ul {
    display: flex;
    flex-direction: column;
}

.nav.toggle ul li a{
    font-size:1.5rem;
}


nav .search-user #account {
    display: flex;
    position: absolute;
    right: -6.2rem;
    top: -1.5rem;
    margin-right: 1rem;
}



nav .search-user #account p{
    font-size: .90rem;
    background: transparent;
    color: white!important;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-right: 0.1rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.7rem;
    margin-top: 1.4rem;
    border: .1rem solid black;
    border-radius: 4px;
}

nav .search-user #account p:hover{
    background: grey;
    transition: all .25s ease;
  
}                 

nav .search-user i{
    cursor:pointer;
    font-size: 1.4rem;
    padding: 0.4rem;
}

nav .search-user input{
    opacity: 0;
    visibility: hidden;
    width: 0%;
}

nav .search-user input.active{
    position: relative;
    left: -4.4rem;
    border:.1rem solid black;
    border-radius: 4px;
    padding: 0.50rem;
    padding-left: 1.7rem;
    opacity: 1;
    visibility: visible;
    transform: translateX(10%);
    transition: transform 1s ease;
    width: 80%;
    background: rgba(219, 203, 203, 0.452);
}

nav .search-user {
    position: relative;
}

nav .search-user i:nth-child(2).ativo{
    position: absolute;
    left: -1.9rem!important;
    top: 0rem!important;
    transition: all 1.3s ease;
}


nav .search-user i:nth-child(2){
    position: absolute;
    left: -3rem!important;
    top: -0.5rem!important;
    
}
button {
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    color: white;
    background: crimson;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.849);
    padding: 0.8rem;
}

button:hover{
    transform: scale(1.2);
    transition: .25s ease-in-out;
}

/** create account **/

.container .create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.356);
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.container .sing-account.showSing {
    opacity: 1;
    visibility: visible;
    transform: translateX(-10%);
    transition: transform .5s ease;
}

.container .create-account.showAccount {
    opacity: 1;
    visibility: visible;
    transform: translateX(-10%);
    transition: transform .5s ease;
}

.container .create-content > i {
    font-size: 2rem;
    margin-right: 2rem;
    width: 100%;
    margin-top: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}


.container .create-account .create-content{
    display: flex;
    align-items: center;
    width: 35rem;
    height: 70%;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 4px;
}

.container .sing-account .sing-content h2,
.container .create-account .create-content h2{
    margin-bottom: 1rem;
    font-family: "Oswald",sans-serif;
}

.container .create-account .create-content p{
    text-align: center;
    font-family: "Oswald",sans-serif;
}

.container .create-account .create-content p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.664);
    transition: .2s ease;
}

.container  .create-account .create-content #email{
    width: 98%;
}

.container  .create-account .create-content form input {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: .1rem solid grey;
}

.container  .create-account .create-content form .password {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .create-account .create-content form button{
    background: crimson;
    margin-left: 9rem;

    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.8rem;
}

.container  .create-account img{
    width: 10vh;
    margin-bottom: 1.2rem;
}

/**Sing Account **/


.container .sing-account {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.356);
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.container .sing-account.showSing {
    opacity: 1;
    visibility: visible;
    transform: translateX(-10%);
    transition: transform .5s ease;
}


.container .sing-content > i {
    font-size: 2rem;
    margin-right: 2rem;
    width: 100%;
    margin-top: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}


.container .sing-account .sing-content{
    display: flex;
    align-items: center;
    width: 27rem;
    height: 70%;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 4px;
}

.container .sing-account .sing-content > p{
    font-family: "Oswald",sans-serif;
}

.container .sing-account .sing-content > p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.664);
    transition: .2s ease;
}


.container  .sing-account .sing-content form .remember-pass{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container  .sing-account .sing-content form .remember-pass p{
    align-items: center;
    font-size: 0.9rem;
    font-family: "Oswald",sans-serif;
}

.container  .sing-account .sing-content form .remember-pass input{
    margin-top: 1rem;
}


.container  .sing-account .sing-content form input {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: .1rem solid grey;
}

.container  .sing-account .sing-content form .password {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sing-account .sing-content form button{
    background: crimson;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.container  .sing-account img{
    width: 10vh;
    margin-bottom: 1.2rem;
}

/** home **/


#home{
    background: url("images/bgs/a_\(13\).jpeg") no-repeat;
    background-size: cover; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    height: 110vh;   
}

#home .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#home .content .text {
    margin: 1rem;
}

#home .content{
    width: clamp(30vh,10vw);
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
}


#home .content h2{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

#home .content p{
    text-align: center;
    font-size: 0.90rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

#home .content  h2 span:nth-child(1){
    color: green;
}


#home .content  h2 span:nth-child(2){
    color: rgba(236, 12, 57, 0.938);
}


#home .container .sociais {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    font-size: 1.9rem;
}

#home .sociais i{
    padding: 0.40rem;
    cursor: pointer;
    color: white;
}

#home .sociais i:hover{
    border-radius: 50%;
    padding: 0.40rem;
    text-align: center;
    line-height: none;
    background: black;
    transition: 0.30s ease;
}

/* Make a reservation */

.create-Reservation {
    background: url('images/bgs/a_(10).jpeg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-Reservation .create-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius : 7px;
    border: .1rem solid black;
    height: 70vh;
    width: 50%;
    padding: 1rem;
    background-color: #9dc5c3b9;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5cd3 74%);
}

.create-Reservation .create-reservation > p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.create-Reservation .create-reservation > img {
    width: 70px;
    margin-bottom: 1rem;
}

.create-Reservation .create-reservation > h2 {
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: white;
}

.create-Reservation .create-reservation form {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.create-Reservation .create-reservation form .name-date {
    display: flex;
}

.create-Reservation .create-reservation form .name-date .input-name {
    position: relative;
}

.create-Reservation .create-reservation form .name-date .input-name input {
    width: 95%;
}

.create-Reservation .create-reservation form .name-date .input-name  input:focus + label,
input:valid + label {
    top: -8px;
    left: 10px;
    font-size: 15px;
    padding: 0 1px;
    background: rgba(128, 128, 128, 0.685);

}

.create-Reservation .create-reservation form .name-date .input-name label{
    position: absolute;
    top: 10px;
    left: 6px;
    color: white;
    background: transparent;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    transition: .4s;
    cursor: text;
}

.create-Reservation .create-reservation form .count-People {
    display: flex;
}

.create-Reservation .create-reservation form .count-People .input-person{
    position: relative;
    width: 40%;
}

.create-Reservation .create-reservation form .count-People .input-person #count {
    width: 53%;
}

.create-Reservation .create-reservation form .count-People .input-person input:focus + label,
input:valid + label {
    top: -10px;
    left: 59px;
    font-size: 13px;
    padding: 0 1px;
    background: rgba(128, 128, 128, 0.685);

}

.create-Reservation .create-reservation form .count-People .input-person label{
    position: absolute;
    top: 10px;
    left: 61px;
    color: white;
    background: transparent;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    transition: .4s;
    cursor: text;
}

.create-Reservation .create-reservation form #age {
    cursor: pointer;
    width: 44%;
}

.create-Reservation .create-reservation form .count-People .input-number{
    position: relative;
    width: 40%;
}


.create-Reservation .create-reservation form .count-People .input-number input:focus + label,
input:valid + label {
    top: -10px;
    left: 10px;
    font-size: 13px;
    padding: 0 1px;
    background: rgba(128, 128, 128, 0.685);

}

.create-Reservation .create-reservation form .count-People .input-number label{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: transparent;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    transition: .4s;
    cursor: text;
}

.create-Reservation .create-reservation form input {
    color: white;
    font-family: "Oswald",sans-serif;
    background: transparent;
    padding: 0.5rem;
    border: .1rem solid black;
    border-radius: 7px;
    margin-bottom: 1rem;
    outline: none;
}


.create-Reservation .create-reservation form button {
    margin-bottom: 1rem;
}

.create-Reservation .create-reservation form #count {
    width: 20%;
    margin-left: 3.5rem;
}

/* menu */

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    
}

#menu .title {
    position: relative;
    font-size: 2rem;
    color: white;
    margin-bottom: 5rem;
}

#menu .title::after{
    position: absolute;
    content: " ";
    background: white;
    width: 100%;
    left: 0;
    bottom: 0;
    height: .2rem;
}

#menu .options {
    display: flex;
}

#menu .card {
    width: 100%;
    cursor: pointer;
    border-radius: .4rem;
    background: white;
    margin: 1rem;
    padding: 1rem;
}

#menu .card p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}

#menu .card:hover{
    transform: scale(1.2);
    transition: 0.45s ease;
}

#menu .card img{
    width: 10rem;
}

/** all dishers **/

.all-Disher {
    height: 100vh;
    width: 101%;
    background-color :#ee9617;
    background-image :linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.all-Disher .outher-options {
    position: absolute;
    top: 9rem;
    right: 10rem;
}

.all-Disher .outher-options ul {
    display: flex;
}

.all-Disher .outher-options ul li {
    list-style: none;
    height: 46px;
    margin: 0.5rem;
    background : white;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.all-Disher .outher-options ul li:hover{
    background: grey;
    transition: all .25s ease;
}



.all-Disher .outher-options ul li:nth-child(1)::before{
    position: absolute;
    top: 4rem;
    right: 9rem;
    content: "Drinks";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Disher .outher-options ul li:nth-child(1):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

.all-Disher .outher-options ul li img{
    width: 35px;
}

.all-Disher .outher-options ul li:nth-child(2)::before{
    position: absolute;
    top: 4rem;
    right: 4.3rem;
    content: "Dessert";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Disher .outher-options ul li:nth-child(2):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

.all-Disher .outher-options ul li:nth-child(3)::before{
    position: absolute;
    top: 4rem;
    right: 0rem;
    content: "Dishers";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Disher .outher-options ul li:nth-child(3):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

/** final outher options **/

.all-Disher.ShowAllDisher {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.all-Disher > i{
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
    cursor: pointer
}

.all-Disher > i:hover{
    transform: scale(1.2);
    transition: all .25s ease-in-out;
    color: white;
}


.all-Disher .text-h2{
    position: relative;
    top: -2rem;
    font-size: 2rem;
    color: white;
    margin-bottom: 8rem;
}

.all-Disher .text-h2::after{
    position: absolute;
    content: " ";
    background: white;
    width: 100%;
    left: 0;
    bottom: 0;
    height: .2rem;
}


.all-Disher .content-disher {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.all-Disher .content-disher .dishers{
    max-width: 300px;
    height: 8rem;
    background: white;
    margin-left: 0.7rem;
    padding: 0.5rem;
    border-radius: 60%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0px 0px 7px 1px;
}

.all-Disher .content-disher .dishers:hover{
    height: 20rem;
    border-radius: 4px;
    transition: all 1s ease;
}

.all-Disher .content-disher .dishers:hover .description {
    opacity:1;
    visibility:visible;
}


.all-Disher .content-disher .dishers > img {
    width: 150px;
    height: 140px;
    object-fit: cover;
    border-radius: 60%;
    margin-bottom: .5rem;
    box-shadow: -4px 4px 10px -1px;

}

.all-Disher .content-disher .dishers .description {
    opacity:0;
    visibility:hidden;
}

.all-Disher .content-disher .dishers .description span{
    font-family: "Oswald",sans-serif;
    font-weight: 700;
}

.all-Disher .content-disher .dishers .description button{
    font-family: "Oswald",sans-serif;
    padding: .8rem;
    background: green;
    margin-top: 1rem;

}

/** all drinks **/


.all-Drinks {
    height: 110vh;
    width: 101%;
    background-color: #20bf55;
    background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.all-Drinks .outher-options {
    position: absolute;
    top: 9rem;
    right: 10rem;
}

.all-Drinks .outher-options ul {
    display: flex;
}

.all-Drinks .outher-options ul li {
    list-style: none;
    margin: 0.5rem;
    background : white;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.all-Drinks.outher-options ul li:hover{
    background: grey;
    transition: all .25s ease;
}



.all-Drinks .outher-options ul li:nth-child(1)::before{
    position: absolute;
    top: 4rem;
    right: 9rem;
    content: "Drinks";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Drinks .outher-options ul li:nth-child(1):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

.all-Drinks .outher-options ul li img{
    width: 40px;
}

.all-Drinks .outher-options ul li:nth-child(2)::before{
    position: absolute;
    top: 4rem;
    right: 4.3rem;
    content: "Dessert";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Drinks .outher-options ul li:nth-child(2):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

.all-Drinks .outher-options ul li:nth-child(3)::before{
    position: absolute;
    top: 4rem;
    right: 0rem;
    content: "Dishers";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Drinks .outher-options ul li:nth-child(3):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

/** final outher options **/

.all-Drinks.ShowAllDrinks {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.all-Drinks > i{
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
    cursor: pointer
}

.all-Drinks > i:hover{
    transform: scale(1.2);
    transition: all .25s ease-in-out;
    color: white;
}


.all-Drinks .text-h2{
    position: relative;
    top: -4rem;
    left: 0;
    font-size: 2rem;
    color: white;
    margin-bottom: 8rem;
}

.all-Drinks .text-h2::after{
    position: absolute;
    content: " ";
    background: white;
    width: 100%;
    left: 0;
    bottom: 0;
    height: .2rem;
}


.all-Drinks .content-drink {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.all-Drinks .content-drink .drinks{
    width: 250px;
    height: 8rem;
    background: white;
    margin-left: 0.7rem;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0px 0px 7px 1px;
}


.all-Drinks .content-drink .drinks:hover{
    height: 18rem;
    border-radius: 4px;
    transition: all 1s ease;
}


.all-Drinks .content-drink .drinks:hover .description {
    opacity:1;
    visibility:visible;
}



.all-Drinks .content-drink .drinks > img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: .5rem;

}

.all-Drinks .content-drink .drinks .description {
    opacity:0;
    visibility:hidden;
}


.all-Drinks .content-drink .drinks .description span{
    font-family: "Oswald",sans-serif;
    font-weight: 700;
}


.all-Drinks .content-drink .drinks .description button{
    font-family: "Oswald",sans-serif;
    padding: .8rem;
    background: green;
    margin-top: 1rem;

}


/** all dessert **/

.all-Dessert {
    height: 110vh;
    width: 101%;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
    opacity: 0;
    visibility: hidden;
  
}

.all-Dessert  .outher-options {
    position: absolute;
    top: 9rem;
    right: 10rem;
}

.all-Dessert  .outher-options ul {
    display: flex;
}

.all-Dessert  .outher-options ul li {
    list-style: none;
    margin: 0.5rem;
    background : white;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.all-Dessert  .outher-options ul li:hover{
    background: grey;
    transition: all .25s ease;
}



.all-Dessert  .outher-options ul li:nth-child(1)::before{
    position: absolute;
    top: 4rem;
    right: 9rem;
    content: "Drinks";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Dessert  .outher-options ul li:nth-child(1):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

.all-Dessert .outher-options ul li img{
    width: 40px;
}

.all-Dessert  .outher-options ul li:nth-child(2)::before{
    position: absolute;
    top: 4rem;
    right: 4.3rem;
    content: "Dessert";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Dessert .outher-options ul li:nth-child(2):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

.all-Dessert  .outher-options ul li:nth-child(3)::before{
    position: absolute;
    top: 4rem;
    right: 0rem;
    content: "Dishers";
    font-family: "Oswald",sans-serif;
    font-size: 1.4rem;
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform .25s ease;
}

.all-Dessert  .outher-options ul li:nth-child(3):hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%);
    transition: transform .25s ease;
}

/** final outher options **/

.all-Dessert.ShowAllDessert {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.all-Dessert  > i{
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
    cursor: pointer
}

.all-Dessert  > i:hover{
    transform: scale(1.2);
    transition: all .25s ease-in-out;
    color: white;
}


.all-Dessert .text-h2{
    position: relative;
    top: -8rem;
    left: 0;
    font-size: 2rem;
    color: white;
}

.all-Dessert .text-h2::after{
    position: absolute;
    content: " ";
    background: white;
    width: 100%;
    left: 0;
    bottom: 0;
    height: .2rem;
}


.all-Dessert .content-dessert {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.all-Dessert  .content-dessert .dessert{
    max-width: 350px;
    height: 8rem;
    background: white;
    margin-left: 0.7rem;
    padding: 0.5rem;
    border-radius: 60%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0px 0px 7px 1px;
}  

.all-Dessert  .content-dessert .dessert:hover{
    height: 17rem;
    border-radius: 7px;
    transition: all 1s ease;
}

.all-Dessert  .content-dessert .dessert:hover .description {
    opacity:1;
    visibility:visible;
}


.all-Dessert  .content-dessert .dessert img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -4px 4px 10px -1px;
}


.all-Dessert  .content-dessert .dessert .description {
    opacity:0;
    visibility:hidden;
}

.all-Dessert  .content-dessert .dessert .description span{
    font-family: "Oswald",sans-serif;
    font-weight: 700;
}

.all-Dessert  .content-dessert .dessert .description button{
    font-family: "Oswald",sans-serif;
    padding: .8rem;
    background: green;
    margin-top: 1rem;

}



/* about */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    position: relative;
}

#about > img {
    width: 25rem;
    left: -5rem;
    position: absolute;
    top: -5rem;
    opacity: 0.1;
}

#about .chefs {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .title {
    margin-top: 2rem;
}

#about .title h2{
    position: relative;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 1rem;
}

#about .title h2::after{
    position: absolute;
    content: " ";
    background: black;
    font-family: "Oswald";
    font-weight: 700;
    width: 40%;
    left: 9.5rem;
    bottom: 0;
    height: .2rem;
}

#about .title p{
    text-align: center;
    width: 80vh;
    font-size: 1rem;
    font-family: "Poppins",sans-serif;
}


#about .chefs .perfis{
    cursor: pointer;
    width: 15rem;
    height: 12rem;
    text-align: center;
    background: rgb(128, 128, 128);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.733);
    border-radius: .4rem;
    margin: 1rem;
    transition: 1s ease-in;

}

#about .perfis:hover{
    height: 23rem;
    transition: 1s ease-in;
}

#about .perfis .stars{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .perfis .stars i{
    color: rgba(255, 255, 0, 0.836);
}

#about .perfis:hover p{
    margin-top: 1rem;
    opacity: 1;
    visibility: visible;
    transition: .40s ease;
}

#about .perfis .redes i{
    width: 50px;
    opacity: 0;
    visibility: hidden;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 1px 1px rgba(43, 42, 42, 0.637);
}

#about .perfis .redes a i:nth-child(1){
    padding: 0.3rem;
    width: 16%;
    border-radius: 4px;
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}

#about .redes i:hover{
    color: black;
}

#about .perfis:hover .redes i{
    opacity: 1;
    visibility: visible;
    padding-left: 1rem;
    transition: .40s ease
}

#about .perfis h3{
    margin-bottom: 0.5rem;
    color: white;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
}

#about .perfis p{
    opacity: 0;
    visibility: hidden;
    color: white;
    padding-bottom: 0.7rem;
}

#about .perfis img{
    padding: 0.50rem;
    width: 7rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;

}

/** arrow down **/

#about .arrow-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .arrow-down h2{
    font-size:1rem;
    margin-bottom: 2rem;
}

#about .arrow-down > a i{
    position: relative;
    font-size:2rem;
    transition: 1s ease-in-out;
    animation: upAnddown 1s infinite;
    cursor: pointer;
}

@keyframes upAnddown {
    0% {
        bottom: 0.85rem;
    }
   
    50% {
        bottom: 1.4rem;
        
    }
    100% {
        bottom: 1rem;
        
    }
}

/* about slider vertical */

.more-about{
    opacity: 0;
    display: none;
    position: relative;
    overflow: hidden;
    width: 99.1vw;
    height: 100vh;
}

.more-about.show{
    opacity: 1;
    display: block;
}


.more-about > i{
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.more-about > i:hover{
    transform: scale(1.2);
    transition: .25s ease-in;
}

.left-slide{
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}


.left-slide > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}


.left-slide h1{
    font-family: "Oswald",sans-serif;
    transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0.20rem;
    width: 70%;

}


.left-slide p {
    width: 70%;
    font-size: 1rem;
    margin-left: 0.50rem;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform .5s ease-in-out;

}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.more-about .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size:1rem;
    padding: 1rem;
}

.more-about .action-buttons button:hover{
    color: #222;
}

.more-about .action-buttons button:focus {
    outline: none;
}

.more-about .action-buttons .down-button {
    transform: translateX(-100%);
    border-radius: 4px 0px 0px 4px;
}

.more-about .action-buttons .up-button {
    transform: translateY(-100%);
    border-radius: 0px 4px 4px 0px;

}


/* ==== TESTIMONIALS ==== */    
#testimonials {
    overflow: hidden;
    background: black;
    height: 100vh;
    width: 101%;
    padding-top: 5rem;
}

#testimonials .container > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

#testimonials .swiper-wrapper {
    display: flex;
}

#testimonials blockquote {
    background: white;
    padding: 2rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

#testimonials blockquote p{
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: black;

}

#testimonials blockquote p span {
    font: 700 2.5rem serif;

    position: absolute;
    top: -0.8rem;
    left: -2.125rem;
    color: black;

}

#testimonials cite {
    display: flex;
    align-items: center;
    color: black;

}

#testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

/* ==== SWIPER ===== */

.swiper-slide {
    height:auto;
    padding: 4rem 1rem;
}


/** contact us **/

#contact-us {
    height: 110vh;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 50% 50%;

    
}

#contact-us .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    grid-area: top;
}

#contact-us .contact-content{
    grid-area: left;
    color: white;
    margin-top: 10rem;
    margin-left: 4rem;
    font-family: "Oswald",sans-serif;
}

#contact-us .contact-content button{
    background: green;
    margin-top: 2rem;
}

#contact-us .contact-content h3{
    font-size: 2rem;
}

#contact-us .contact-content p{
    font-size: 1.3rem;
}

#contact-us .form-opinion {
    margin-top: 5rem;
    width: 70%;
    height: 70%;
    background: white;
    padding: 1rem;
    border-radius: 7px;
}


#contact-us .form-opinion form{
    align-items: center;
    grid-area: right;
    width: 100%;
    display: flex;

    flex-direction: column;
}

#contact-us .form-opinion form .form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-us .form-opinion form h2{
    font-family: "Oswald",sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

#contact-us .form-opinion form button{
    width: 30%;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


#contact-us .form-opinion form button:hover{
    background: green;
    transition: 0.5s ease;
}

#contact-us .form-opinion form textarea {
    resize: none;
    border: .1rem solid black;
    border-radius: 7px;
    padding: 0.3rem;
    width: 100%;

}

#contact-us .form-opinion form input{
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: .1rem solid grey;
}

/** news letter **/

.News-letter{
    width: 100%;
    height: 25%;
    position: relative;
}

.News-letter > img {
    position: absolute;
    width: 150px;
    height: 150px;
    right: -1rem;
    z-index: 0;
}

.News-letter .news-letter-content {
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.News-letter .text{
    color: black;
    margin: 1.4rem;
}

.News-letter .text h2{
    font-size: 1.3rem;
    font-family: "Oswald",sans-serif;
    margin-bottom: .4rem;
}

.News-letter .News-letters-input {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
}

.News-letter .News-letters-input input{
    width: 80%;
    padding: 0.5rem;
    border-radius: 4px;
    border: .1rem solid grey;
}

.News-letter .News-letters-input button{
    background: crimson;
    width: 20%;
    margin-top: 0.5rem;

}

/** footer **/

footer {
    background:black;
    color: white;
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .redes-sociais {
    width: 35%;
        margin: 1rem;
}

footer .redes-sociais ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2rem;
    cursor: pointer;
} 

footer .redes-sociais ul li{
    padding: 0.8rem;
    font-size: 0.8rem;
}

footer .redes-sociais ul li i{
    font-size: 1.5rem;
    padding-right: 0.4rem;
}

footer .redes-sociais ul li:hover{
    text-decoration: underline;
}

footer .content-footer {
    width: 100%;
    display: flex;
    align-items: center;
}

footer .contatos-menu {
    display: none;
}

footer .contatos {
    width: 35%;
    height: 80%;
    background: black;
    border: none;
    box-shadow: 0px 0px 0px 0px;
    padding: 0;
    margin-top: 1rem;
}

footer .contatos ul{
    height: 80%;
    display: flex;
    flex-direction: column;
}

footer .contatos ul li {
    color: white;
    padding: 0;
}

footer .contatos ul li:hover{
    text-decoration: underline;
}

footer .contatos ul li a{
    color: white;
    font-size: 0.7rem;
}

footer .contatos ul li a i {
    margin-right: 0.5rem;
}


footer .content-footer > img {
    width: 2rem;
    padding: 1rem;
}

footer .content-footer p{
    font-family: "oswald",sans-serif;
    font-weight: 700;
    padding: 0.5rem;
}


@media (max-width:562px){
   #testimonials .container h2{
       font-size: 1rem;
   }

   #about .title p{
       text-align: center;
       width: 100%;
   }

   #about .perfis:hover{
    height: 27rem;
    transition: .40s ease;
    }

    .left-slide {
        height: 100%;
        width: 50%;
        transition: transform .5s ease-in-out;
    
    }

    .right-slide {
        height: 100%;
        left: 50%;
        width: 56%;
        transition: transform .5s ease-in-out;
    
    }

    .more-about .action-buttons .down-button {
        transform: translateX(42%);
        top: 305px;
        border-radius: 4px 0px 0px 4px;
    }
    
    .more-about .action-buttons .up-button {
        top: 250px;
        transform: translateX(143%);
        border-radius: 0px 4px 4px 0px;
    }

}




@media (max-width:414px){

    /* nav */
    nav{
        display: none;
    }

    nav.toggle {
        display:flex;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        width: 100%!important;
        height: 100vh;
        background: white;
        border-radius: 0;
        z-index: 9999999;
    }

    nav .search-user #account p:hover{
        background: green;
        color: white!important;
    }
  

    nav .search-user #account p{
        color: white;
        padding: 0.4rem;
        border-radius: 4px;

    }


    nav .search-user i:nth-child(2).ativo{
    width: 15%;
    position: absolute;
    left: -2rem!important;
    top: 0rem!important;
    transition: all 1.3s ease;
}

    /**home **/

    #home .container .sociais i {
        color: black
    }

    #home .container .sociais i:hover{
        background: white;
    }

    /* reservation */ 

    .create-Reservation .create-reservation {
        height: 70vh;
        width: 100%;
    }

    /** all-drinks **/ 

    .all-Drinks .content-drink .drinks{
        width: 200px;
        height: 8rem;
        background: white;
        margin-left: 0.7rem;
        padding: 0.5rem;
        border-radius: 7px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        box-shadow: 0px 0px 7px 1px;
    }

    /** all-dessert **/

    .all-Dessert  .content-dessert .dessert:hover{
        height: 20rem;
        transition: all 1s ease;
    }

    /** about **/

    #about {
        overflow-y: hidden;
        height: 150vh;
    }

    #about .title {
        width: 100%;
        margin-top: 0;
        margin-bottom: 3.9rem;

    }
    
    #about .title h2{
        position: relative;
        top: -1rem;
        font-size: 2rem;
        color: black;
        margin-bottom: 1rem;
    }
    
    #about .title h2::after{
        position: absolute;
        content: " ";
        background: black;
        font-family: "Oswald";
        font-weight: 700;
        width: 50%;
        left: 6.2rem;
        bottom: 0;
        height: .2rem;
    }
    
    #about .title p{
        margin-left: 2.5rem;
        margin-right: 1rem;
        margin-bottom: 4.2rem;
        text-align: center;
        width: 80%;
        font-size: .9rem;
        font-family: "Poppins",sans-serif;
        font-weight: 400;
    }
    

    

    .chefs {
        padding-top: 13rem;
        flex-direction: column;
    }

    #about .chefs .perfis{
        cursor: pointer;
        width: 16rem;
        height: 12rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.76);
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.733);
        border-radius: .4rem;
        margin: 0.8rem;
        transition: 1s ease-in;
    }

    #about .chefs .perfis p{
        padding: 0.5rem;
    }

    #about .chefs .perfis:hover{
        height: 30rem;
    }


    #about .chefs .perfis:nth-last-child(3){
        margin-top: 10rem;
    }

    #about .chefs .perfis:nth-last-child(1){
        margin-bottom: 18rem;
    }

    #about .arrow-down {
        position: relative;
        margin-bottom: 2rem;
        top: 12rem!important;
        font-size:2rem;
        transition: 1s ease-in-out;
        animation: upAnddown 1s infinite;
        cursor: pointer;
    }

    .container .create-account {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.356);
        top: 0;
        right: -2.2rem;
        position: absolute;
        height:100%;
        width: 100%;
        opacity: 0;
        z-index: 9999;
        visibility: hidden;
        }
    
        .container .create-account .create-content p {
            margin: 0!important;
        }

        .container .create-account .create-content > p:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    
        .container .create-account .create-content {
            height: 100%;
        }
    
        .container .create-account .create-content form input {
            border-radius: 7px;
            border: .1rem solid black;
            padding: 0.5rem;
            background: transparent;
        }
    
        .container .create-account .create-content form .btn {
            margin-left: 8rem;
        }
    
        .container .create-account .create-content form .names {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container .create-account .create-content form .names input {
            width: 45%;
        }
    
        .container .create-account .create-content form #email{
            width: 92%;
            margin-left: 0.8rem;
        }
    
        .container .create-account .create-content form .password {
            display: flex;
        }

        .container .create-account .create-content form .password input {
            width: 45%;
        }

        .container .create-account .create-content p{
            text-align: center;
            margin-left: 4rem;
        }

        .container .sing-account {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.356);
            top: 0;
            right: -2.5rem;
            position: absolute;
            height: 110vh;
            width: 100%;
            opacity: 0;
            visibility: hidden;
        }

        .container .sing-account .sing-content{
            display: flex;
            align-items: center;
            width: 100%;
            height: 110vh;
            flex-direction: column;
            background: white;
            padding: 1rem;
            position: absolute;
            z-index: -99999999999999;
            border-radius: 4px;
        }

        .container .sing-account .sing-content form input{
            border: .1rem solid black;
            padding: .5rem;
            border-radius: 7px;
        }

        #testimonials .container h2{
            text-align: center;
            font-size: 1rem;
        }

        .more-about .action-buttons .up-button {
            top: 260px;
            transform: translateX(0%);
            border-radius: 0px 3px 4px 0px;
        }

        .more-about .action-buttons .down-button {
            top: 320px;
            transform: translateX(0%);
            border-radius: 0px 3px 4px 0px;
        }
        

        .right-slide {
      height: 100%;
      position: absolute;
      top: 0;
      left: 35%;
      width: 65%;
     transition: transform .5s ease-in-out;
     color: black;

    }


    .left-slide > div {
        background: transparent;

    }
        
        .left-slide{
            height: 100vh;
            width: 35%;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform .5s ease-in-out;
        }
      

        .button-to-top{
            opacity: 0;
            visibility: hidden;
            position: fixed;
            font-size: 2.5rem;
            bottom: 10rem;
            right: 2rem;
            color: black;
            background: white;
            clip-path: circle();
            border-radius: 50%;
            z-index: 999999;
            cursor: pointer;
            transition: 0.3s;
            transform: translateY(40%);
        
        }

        #contact-us .form-opinion form .form input{
            border: .1rem solid rgb(161, 159, 159);
            padding: 0.5rem;
            border-radius: 4px;
            outline: none;
        }

        #contact-us .form-opinion form > button {
            padding: 0.6rem;
            background: green;
            width: 50%;
        }

        #contact-us .form-opinion {
            height: 100%!important;
        }
        
        #contact-us .form-opinion form {
            width: 100%;
        }

        #contact-us .contact-content h3{
            margin-right: 1rem;
            font-size: 1.8rem;
        }

        #contact-us .contact-content {
            margin-top: 1rem;
        }

        #contact-us .contact-content p{
            margin-right: 1rem;
        }


        /** footer **/

        footer {
            background:black;
            color: white;
            width: 100%;
            height: 58vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

footer .redes-sociais {
    width: 100%;
    margin: 1rem;
    margin-left: 2rem;
}

footer .redes-sociais ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
} 

footer .redes-sociais ul li{
    padding: 0.8rem;
    font-size: 1rem;
}

footer .redes-sociais ul li i{
    font-size: 1.3rem;

    padding-right: 0.4rem;
}

footer .redes-sociais ul li:hover{
    text-decoration: underline;
}

footer .content-footer {
    font-size: 1.4rem;
    width: 50vh;
    justify-content: center;
    align-items: center;
}

footer .contatos {
    display: grid;
    width: 100%;
    height: 20%;
    background: black;
    border: none;
    box-shadow: 0px 0px 0px 0px;
    padding: 0;
    margin-top: 1rem;
}

footer .contatos ul{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

footer .contatos ul li {
    color: white;
    padding: 0;
}

footer .contatos ul li i {
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

footer .contatos ul li:hover{
    text-decoration: underline;

}

footer .contatos ul li a{
    color: white;
    font-size: 0.7rem;

}

footer .content-footer > img {
    width: 2rem;
    padding: 1rem;
}

footer .content-footer p{
    font-family: "oswald",sans-serif;
    font-weight: 700;
    padding: 0.5rem;
}




        /** news-letter */

        .News-letter {
            height: 36%;
        }
        
        .News-letter > img {
            position: absolute;
            width: 100px;
            height: 100px;
            right: -1rem;
            top: 12rem;
            z-index: 0;
        }
        
        .News-letter .news-letter-content {
            padding: 0.5rem;
            align-items: center;
            background: white;
            display: flex;
            flex-direction: column;
        }
        
        .News-letter .text{
            color: black;
            margin: 1.4rem;
        }
        
        .News-letter .text h2{
            font-family: "Oswald",sans-serif;
            font-size: 1.3rem;
            margin-bottom: .4rem;
        }

        .News-letter .text p{
            width: 89%;
            font-family: "Oswald",sans-serif;
            font-size: 0.9rem;
        }
        
        .News-letter .News-letters-input {
            width: 95%;
            padding: 0.5rem;
            border-radius: 4px;
            margin-bottom: 0.8rem;
        }

        .News-letter .News-letters-input #News-letter {
            width: 100%;
            margin-left: 0.7rem;
        }
        
        .News-letter .News-letters-input input{
            width: 100%;
            border: .1rem solid black;
            padding: 0.5rem;
            border-radius: 4px;
        }
        
        .News-letter .News-letters-input button{
            background: crimson;
            width: 40%;
            margin-left: 0.5rem;
        }
     }


 @media (max-width:526px){

    
     #home {
    grid-template-columns: 1fr 1fr;
         
     }

     #contact-us {
         height:100%;
     }


    .chefs {
        padding-top: 13rem;
        flex-direction: column;
    }
 }



@media (max-width:620px) {
    #menu .options {
        display: flex;
        flex-direction: column;
    }

    #menu .options .card {
        width: 200px;
        text-align: center;
    }

    #menu .options .card img {
        width: 40%;
    }
}


@media (max-width: 770px){

    #about .arrow-down {
        position: relative;
        margin-bottom: 2rem;
        top: 17rem;
        font-size:2rem;
        transition: 1s ease-in-out;
        animation: upAnddown 1s infinite;
        cursor: pointer;
    }

    #about {
        overflow-y: hidden;
        height: 150vh;
    }

    .chefs {
        padding-top: 13rem;
        flex-direction: column;
        margin-bottom: 1rem;
    }
}


@media (max-width: 878px){

  

    #contact-us {
        display: flex;
        flex-direction: column;
    }

    #contact-us > h2{
        margin-top: 1rem;
    }

    #contact-us .form-opinion{
        margin-top: 2rem;
        margin-left: 4rem;
        margin-bottom: 1rem;
        width: 70%;
        height: 50%!important;
        background: white;
        padding: 1rem;
        border-radius: 7px;
    }

}


@media (max-width: 1358px){

    nav {
         display: none;
    }

    nav.toggle {
        display:flex;
        position: fixed;
        top: 7rem!important;
        right: 0!important;
        flex-direction: column;
        width: 100%!important;
        height: 100vh!important;
        background: white;
        border-radius: 0;
        z-index: 9999999;
        transform: translateY(-20%)!important;
        transition: transform .25s ease;
    }

    #contact-us .form-opinion {
        width: 70%;
        height: 57vh!important;
        background: white;
        padding: 1rem;
        border-radius: 7px;
    }
}
